@model AITResearch.ViewModels.RegisterFormViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DoB)
        @Html.TextBoxFor(m => m.DoB, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
    </div>
    <button class="btn btn-primary">Register</button>
    <p>or</p>
    <button class="btn btn-primary">Answer as Anonymous</button>
</form>

