@model AITResearch.ViewModels.SurveyViewModel

@{
    ViewBag.Title = "Survey";
}
<div class="container">
    <form method="post">
        <div class="white-txt form-group">
            <h3>@Model.Question.Text</h3>
            @Html.HiddenFor(m => m.Type, new { @Value = Model.Question.Type.Name})
            @Html.HiddenFor(m => m.Answer.Question_QID, new { @Value = Model.Question.QID})
        </div>
        <div>
            @if (Model.Question.Type.Name == "text")
            {
                @Html.TextBoxFor(m => m.Answer.Text, new { @class = "form-control" })
            }
            else if (Model.Question.Type.Name == "radio")
            {
                foreach (var option in Model.Question.Options)
                {

                    <div class="radio">
                        @Html.RadioButtonFor(m => m.Answer.Option_OID, option.OID)
                        @Html.Label(option.Value, new { @class = "white-txt" })
                    </div>
                }
            }
            else
            {
                for (var i = 0; i < Model.Question.Options.Count; i++)
                {
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.CheckBoxAnswers[i].IsSelected)
                        @Html.Label(Model.Question.Options.ElementAt(i).Value, new { @class = "white-txt" })
                        @Html.HiddenFor(m => m.CheckBoxAnswers[i].Id, new { @Value = Model.Question.Options.ElementAt(i).OID })
                        @Html.HiddenFor(m => m.CheckBoxAnswers[i].NextQuestion, new { @Value = Model.Question.Options.ElementAt(i).NextQuestion})
                    </div>
                }
            }
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </form>
</div>
    


