@model AITResearch.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Admin";

}




<div class="container admin">

    <form method="post">
        @Html.AntiForgeryToken()

        <div class="form-group row">
            <div class="col-md-4 col-md-offset-3">
                @Html.TextBoxFor(m => m.SearchInput, new { @class = "form-control", @placeholder = "Search..." })
                @Html.ValidationMessageFor(m => m.SearchInput, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </div>
        
    </form>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Age Range</th>
                </tr>
            </thead>
            @foreach (var respondent in Model.Respondents)
            {
                <tbody>
                    <tr>
                        <td>@respondent.FirstName</td>
                        <td>@respondent.LastName</td>
                        <td>@respondent.Email</td>
                        <td>@respondent.Gender</td>
                        <td>@respondent.Phone</td>
                        <td>@respondent.AgeRange</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}